.academico_img{
    width: auto;
    height: 6rem;
    padding: 2rem;
    margin-bottom: auto;
}

.google{
    height: 4rem;
    padding-bottom: 2.2rem;
    margin: unset;
}


.academico_img:hover{
    animation: vuelta 2s linear infinite;
}