.academico__lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .academico__lista{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
   
    .academico__lista{
        justify-content: center;
        
    }
  }